* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
	vertical-align: baseline;
}
.logo{
    align-items: center;
    display: block;
    margin-left: 170px;
}
#texto{
    margin-left: 20px;
    text-align: justify;
}
#video{
    margin-left: 10px;
}
.redes{
    display: inline-block;
    margin-right: 20px;
}
#facebook{
    margin-left: 60px;
}

body{
    max-width: 480px;
    background-color:	#A9A9A9;
}
#rodapé{
     margin-left: 90px; 
}

/* Ponto de quebra a partir de 480px de largura 
    Alterando cor e fonte apenas para efeito de teste*/
@media screen and (min-width: 480px){
	body{
		background-color: rgb(68, 126, 126);
	}
    #texto{
        font-family: 'Times New Roman', Times, serif;
    }
}

/* Ponto de quebra a partir de 768px de largura */
@media screen and (min-width: 760px){
	body{
		background-color:beige;
	}	
    #texto{
        font-family:'Courier New', Courier, monospace
    }
}