body{

}

#texto{
    text-align: justify;
}
#Logo{
    margin-left: 300px;
}


#facebook{
    display: inline-block;
    margin-bottom: 0%;
    margin-left: 500px;
    margin-right: 500px;
}

#instagram{
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
}

#twitter{
    display: inline-block;
    margin-left: 500px;
    margin-right: 500px;
}

#rodapé{
    text-align: center;
    margin-bottom: 0px;
}